<div class="row">
  <div class="col-sm-6 col-sm-offset-3" >
    <h2>Categories</h2>
    <div style="margin-bottom:.25em">
      <form class="form-inline">
	<div class="row">
	  <div class="col-md-6">
	    <div class="input-group">
	      <input type="text"
		     class="form-control"
		     placeholder="From"
		     datepicker-popup="MM/dd/yyyy"
		     ng-model="catDate.start" 
		     is-open="catDate.startOpened"
		     />
	      <span class="input-group-btn">
		<button type="button" class="btn btn-default" 
			ng-click="open($event,catDate,'startOpened')">
		  <i class="glyphicon glyphicon-calendar"></i>
		</button>
	      </span>
	    </div>
	  </div>
	  <div class="col-md-6">
	    <div class="input-group">
	      <input type="text"
		     class="form-control"
		     placeholder="To"
		     datepicker-popup="MM/dd/yyyy"
		     ng-model="catDate.end" 
		     is-open="catDate.endOpened"
		     />
	      <span class="input-group-btn">
		<button type="button" class="btn btn-default" 
			ng-click="open($event,catDate,'endOpened')">
		  <i class="glyphicon glyphicon-calendar"></i>
		</button>
	      </span>
	    </div>
	  </div>
	</div>
      </form>
    </div>
    <table class="table table-responsive table-striped">
      <tr ng-repeat="(category,balance) in categories">
	<td>{{ category }}</td>
	<td>{{ balance | currency}}</td>
      </tr>
    </table>
  </div>
</div>
