<div layout="column"
     flex="100"
     flex-gt-sm="90"
     ng-controller="upCtrl">
  <div flex>
    <md-select ng-model="uploadAcct" placeholder="account">
      <md-option ng-value="k" ng-repeat="(k, v) in acctsf">
	{{ v.fire.name }}
      </md-option>
    </md-select>
  </div>
  <div flex ng-show="uploadAcct">
    <file-chooser></file-chooser>
    <md-table-container flex>
      <table md-table>
	<thead md-head>
      	  <tr md-row>
	    <th></th>
      	    <th md-column ng-repeat="name in headerSelections track by $index">{{ name }}</th>
      	  </tr>
	</thead>
	<tbody md-body>
	  <tr ng-repeat="t in tempTrans.rows track by $index">
	    <td md-cell ng-click="kill(t, $index)">X</td>
	    <td md-cell ng-repeat="col in t track by $index">{{ col }}</td>
	  </tr>
	</tbody>
      </table>
      <br>
      <md-button class="md-raised md-primary"
		 ng-click="addTxs(tempTrans.rows, uploadAcct, headerSelections)">
	Upload
      </md-button>
    </md-table-container>
  </div>
</div>
