<!doctype html>
<html lang="en" ng-app="spendPlan">
<head>
  <meta charset="utf-8">
  <script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  <script src="assets/dropstore-ng.js"></script>
  <script src="assets/app.js"></script>
  
</head>
<body ng-controller="SpendPlanCtrl">
<h1>SpendPlan</h1>

<ul>
  <li ng-repeat="account in accounts">{{ account.get('acctname') }} ({{ account.get('currency') }})</li>
</ul>

<div>
<form ng-submit="addAccount()">
<label>Account Name:</label>
<input type="text" ng-model="newAcct.name">
<label>Currency:</label>
<select ng-model="newAcct.curr">
  <option value="GBP">GBP</option>
  <option value="USD">USD</option>
</select>
<button>Add</button>
</form>
</div>

</body>
</html>
